# Ignore everything by default
*

# But allow these file types
!*.py
!*.ipynb
!*.md
!*.yaml
!*.yml

# Allow directory traversal (or nothing gets through)
!*/

# Don't ignore this specific placeholder in data/
!data/.keep

# Ignore junk and large files
__pycache__/
*.pyc
*.pt
*.pkl
*.faiss
*.tfevents.*
*.pth
.ipynb_checkpoints/
.vscode/
.idea/
